$primary-color: #f26622;       
$primary-hover: #d84315;       
$secondary-color: #2d2d2d;     
$text-dark: #262626;           
$text-light: #666666;          
$bg-light: #fffbf7;           
$white: #ffffff;
$border-color: #eeeeee;        

$btn-gradient: linear-gradient(to right, #ffba00, #f26622); 
$btn-gradient-hover: linear-gradient(to right, #ffc800, #ff4500);

$font-stack: 'Poppins', sans-serif;
$box-shadow-sm: 0 4px 10px rgba(0,0,0,0.05);
$box-shadow-md: 0 10px 30px rgba(0,0,0,0.15);
$kds-bg-dark: #121212;
$kds-card-bg: #1e1e1e;
$kds-border: #333;
