.hero-section {
    width: 100%;
    height: 85vh;
    background-image: url('../../../assets/Images/premium_photo-1698500035173-fdea60f9294e.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1; 
    pointer-events: none;
}

.hero-content {
    z-index: 2;
    text-align: center;
    margin-bottom: 40px; 
}

.hero-headline {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    text-shadow: 0px 4px 15px rgba(0,0,0,0.8);
}

.booking-widget {
    background-color: white;
    padding: 30px 30px;
    border-radius: 20px;
    display: inline-flex; 
    align-items: center;
    gap: 80px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

.branch-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.branch-label {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 2px;
}

.branch-value {
    font-weight: 600;
    font-size: 1.1rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.reserve-btn {
    background-color: #f26622;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.reserve-btn:hover {
    transform: scale(1.05);
}

.features-bar {
    position: absolute;
    bottom: -50px; 
    z-index: 2;
    background: white;
    max-width: 1100px;
    padding: 25px 50px;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.15);
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

.feature-icon-box {
    color: #f26622;
    font-size: 1.5rem;
    background-color: #fff0e6;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-text h4 {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 4px;
    color: #333;
}

.feature-text p {
    font-size: 0.85rem;
    color: #666;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

