.login{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.left-section{
    flex: 1;
    position: relative;
}

.left-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right-section{
    flex: 1;
    
}