.happiness-section{
    padding: 50px 90px;
    background-color: #fafafa;
}

.section-header{
    display: flex;
    justify-content: space-between;
}

.section-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

.controls{
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-all-btn{
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    color: #333;
    transition: all 0.3s ease;
}

.view-all-btn:hover{
    background-color: #333;
    color: white;
}

.arrow-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 14px;
}

.arrow-btn:hover{
    background-color: #333;
    color: white;
}

.cards-slider{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.cards-slider::-webkit-scrollbar{
    display: none;
}

.card-item{
    min-width: 500px;
    height: 220px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
}

.card-image{
    width: 45%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-tag{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    color: #555;
    font-weight: 700;
    z-index: 2;
}

.card-content{
    width: 55%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
}

.view-detail {
  font-size: 0.9rem;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 800;
  color: #555;
}

.add-btn {
  background-color: #f26622;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
}

.add-btn:hover {
  background-color: #d95516;
}