.navbar-container{
    position: absolute;
    z-index: 10;
    padding: 25px 90px;
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    gap:50px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.icon-wrapper{
    display: flex;
    font-size: 25px;
    color: white;
}

.logo-container{
    display: flex;
    gap: 10px;
}
.logo{
    color: #f26622;
    font-size: 35px;
}


.logo-txt{
    font-size: 30px;
    font-weight: 800;
    color: #f26622;
    line-height: 1;
    letter-spacing: -2px;
    
}

.logo-txt-container{
    display: flex;
    flex-direction: column;
}

.logo-slogan{
    line-height: 0.5;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 2.2px;
    color: white;

}

.mid-section{
    display: flex;
    gap: 40px;
}

.links{
    display: flex;
    gap: 45px;
    color: white;
}

.icons{
    display: flex;
    gap: 45px;
}

.right-section{
    display: flex;
    gap: 20px;
    align-items: center;
}
.location-btn{
    display: flex;
    gap: 15px;
    border-radius: 10px;
    border: none;
    align-items: center;
    background-color: #f2672286;
    padding: 10px 20px;
}

.location-txt{
    color: white;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

.profile{
    display: flex;
    gap: 15px;
    border: none;
    border-radius: 10px;
    align-items: center;
    background-color: #f2672286;
    padding: 10px 20px;
    color: white;
}